input.ng-invalid.ng-touched {
    border-color: red;
}

span.help-block{
    font-weight: bold;
    color: red;
}

label {
    font-weight: 500;
    font-style: italic;
}

input, textarea {
    width: 50%;
    padding: 12px 20px;
    margin: 8px 0;
    border: 1px solid #ccc;
    border-radius: 4px;
    box-sizing: border-box;
    font-size: initial;
  } 

  button {
    padding: 12px 20px;
    margin: 8px 0;
    border: 1px solid #ccc;
    border-radius: 4px;
    box-sizing: border-box;
    font-size: initial;
  }


