<div class="row">
    <div class="col-xs-12 col-sn-12 col-md-12 col-sn-offset-1 col-md-offset-2">
        <form [formGroup]="addNewsForm" (ngSubmit)="onAddNews(addNewsForm.value)">
            <div class="form-group">
                <label for="title">Title</label>
                <input type="text" id="title" class="form-control" formControlName="title">
                <span id="title-error-msg" class="help-block"
                    *ngIf="!addNewsForm.get('title').valid && addNewsForm.get('title').touched">
                    Please enter a valid title</span>
            </div>
            <div class="form-group">
                <label for="description">Description</label>
                <input type="text" id="description" class="form-control" formControlName="description">
                <span class="help-block"
                    *ngIf="!addNewsForm.get('description').valid && addNewsForm.get('description').touched">
                    Please enter a description</span>
            </div>
            <div class="form-group">
                <label for="summary">Summary</label>
                <input type="text" id="summary" class="form-control" formControlName="summary">
                <span class="help-block"
                    *ngIf="!addNewsForm.get('summary').valid && addNewsForm.get('summary').touched">
                    Please enter summary</span>
            </div>
            <div class="form-group">
                <label for="fullNews">Full News</label>
                <textarea type="text" id="fullNews" class="form-control" formControlName="fullNews"
                    rows="5"> </textarea>
                <span class="help-block"
                    *ngIf="!addNewsForm.get('fullNews').valid && addNewsForm.get('fullNews').touched">
                    Please enter news in detail</span>
            </div>
            <button class="btn btn-primary" type="submit" [disabled]="!addNewsForm.valid">Save News</button>
        </form>
    </div>
</div>